# PostgreSQL Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=159753
POSTGRES_DB=spring_db
POSTGRES_PORT=5433

# PGAdmin Configuration
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=root
PGADMIN_PORT=5050

# Redis Configuration
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Spring Boot App Configuration
APP_PORT=8080
